//- Footer
section.section-semi-white.section-short.section
	.container-fluid
		.col-md-6.col-md-offset-3.margin-top
			.section-head.with-icon
				i.ion-heart
				h3 NEWSLETTER
				p Subscribe to our newsletter to receive news, updates and the latest projects we are working on.
			form.newsletter-form.text-center
				input.form-control(placeholder="YOUR EMAIL ADDRESS..." required)
				button(type="submit") GO
footer
	.container
		.col-md-6.col-md-offset-3.padded.text-center
			.text-block
				a(href="index.html").logo
					img(src="assets/images/logo/logo-white.png", alt="Footer Logo")
				h3 YUNG MUSIC
				p Yung music is a label for any musician individual or band. We help people to make their path into the industry following their dream.
				a.social-icon(href="#!")
					i.fa.fa-twitter
				a.social-icon(href="#!")
					i.fa.fa-soundcloud
				a.social-icon(href="#!")
					i.fa.fa-facebook
				a.social-icon(href="#!")
					i.fa.fa-instagram				
		.col-md-12.margin-top
			hr
		.col-md-6.text-left.small-screen-text-center
			ul.footer-menu
				li
					a(href="about.html") ABOUT
				li
					a(href="services.html") SERVICES
				li
					a(href="releases.html") RELEASES
				li
					a(href="contact.html") CONTACT
		.col-md-6.text-right.small-screen-text-center
			.footer-message
				p 2016 © YUNG - by Andrewch