//- NAVIGATION MENU
header.main-navigation
	.container-fluid
		.col-md-2.col-sm-12.col-xs-12
			a(href="index-widget.html").logo
				img(src="assets/images/logo/logo-white.png", alt="Logo")
			a#navicon
				.bar
				.bar
				.bar
		//- Visible links
		.col-md-10
			nav.visible-menu
				ul(role="menu")
					li
						a(href="releases.html") RELEASES
					li
						a(href="contact.html") CONTACT
					li
						a(href="shop.html")
							i.ion-ios-cart
		//- Sidebar menu
		nav.navigation-menu#cssmenu
			ul
				li
					a(href="#!") HOME
					ul
						li
							a(href="index-widget.html") WIDGET
						li
							a(href="index.html") SLIDER
						li
							a(href="index-video.html") VIDEO
				li
					a(href="#!") ABOUT
					ul
						li
							a(href="about.html") ABOUT 
						li
							a(href="about-me.html") ABOUT ME
				li
					a(href="#!") BLOG
					ul
						li
							a(href="blog.html") CLASSIC
						li
							a(href="blog-grid-2.html") GRID 2 COLUMNS
						li
							a(href="blog-grid-3.html") GRID 3 COLUMNS
						li
							a(href="blog-single.html") BLOG SINGLE
						li
							a(href="blog-single-sidebar.html") BLOG SINGLE W/ SIDEBAR
				li
					a(href="#!") GALLERY
					ul
						li
							a(href="gallery-masonry.html") MASONRY
						li
							a(href="gallery-grid-2-col.html") GRID 2
						li
							a(href="gallery-grid-3-col.html") GRID 3
						li
							a(href="gallery-grid-4-col.html") GRID 4
				li
					a(href="#!") PAGES
					ul
						li
							a(href="radio.html") RADIO
						li
							a(href="radio-single.html") RADIO SINGLE
						li
							a(href="services.html") SERVICES
						li
							a(href="tours.html") TOUR
						li
							a(href="404.html") 404
				li
					a(href="#!") RELEASES
					ul
						li
							a(href="releases.html") RELEASES
						li
							a(href="single-album.html") SINGLE ALBUM
						li
							a(href="single-album-alt.html") SINGLE ALBUM 2
				li
					a(href="#!") SHOP
					ul
						li
							a(href="shop.html") CLASSIC
						li
							a(href="shop-grid-1.html") CATALOG 1 COLUMN
						li
							a(href="shop-sidebar.html") CATALOG W/ SIDEBAR
						li
							a(href="shop-single.html") SINGLE PRODUCT
						li
							a(href="shop-cart.html") CART
				li
					a(href="contact.html") CONTACT
			p.copyright  2016 © YUNG - by Andrewch
			.nav-social-icons.text-center
				.text-block
					a.social-icon(href="#!")
						i.fa.fa-twitter
					a.social-icon(href="#!")
						i.fa.fa-soundcloud
					a.social-icon(href="#!")
						i.fa.fa-facebook
					a.social-icon(href="#!")
						i.fa.fa-instagram