audio#mejs.mejs-yung.playback-widget(controls='')
	source(src='http://www.mp3mixtape.us/iframes/audio/Black-Octopus-Siren-FadedShadows-Remix-192.mp3', title='Black Octopus Siren - FadedShadows Remix')
	source(src='http://www.mp3mixtape.us/iframes/audio/Progressive/FadedShadows-ProgressiveHouseMix192.mp3', title='FadedShadows ProgressiveHouse Mix')
	source(src='http://www.mp3mixtape.us/iframes/audio/Black-Octopus-Siren-FadedShadows-Remix-192.mp3', title='Y.U.N.G - Follow me')
	source(src='http://www.mp3mixtape.us/iframes/audio/Progressive/FadedShadows-ProgressiveHouseMix192.mp3', title='Drake - Hotline Bling')
	source(src='http://www.mp3mixtape.us/iframes/audio/Black-Octopus-Siren-FadedShadows-Remix-192.mp3', title='Steve Per - Party tonight')
	source(src='http://www.mp3mixtape.us/iframes/audio/Progressive/FadedShadows-ProgressiveHouseMix192.mp3', title='The Legion - Europe Tour Live (Part 1)')
	source(src='http://www.mp3mixtape.us/iframes/audio/Black-Octopus-Siren-FadedShadows-Remix-192.mp3', title='The Legion - Europe Tour Line (Part 2)')
	source(src='http://www.mp3mixtape.us/iframes/audio/Progressive/FadedShadows-ProgressiveHouseMix192.mp3', title='ZHU - Faded (Club Mix)')
	source(src='http://www.mp3mixtape.us/iframes/audio/Black-Octopus-Siren-FadedShadows-Remix-192.mp3', title='Y.U.N.G Music 2016')
	source(src='http://www.mp3mixtape.us/iframes/audio/Progressive/FadedShadows-ProgressiveHouseMix192.mp3', title='Gotta - We love what we do')		