.widget
	form(action="#!").search_form.clearfix
		i.ion-ios-search-strong
		input(type="text", placeholder="SEARCH THE SITE").form-control
.widget
	h4 ABOUT
	p Darkness midst stars for seas can't moving us them made fruit darkness Over bring, open greater fruitful multiply day, male lesser our.
	a.btn.btn-link(href="about.html") MORE
.widget
	h4 Latest Posts
	ul.media-list
		li.media
			.media-left
				a(href="#!")
					img(src="assets/images/blog-thumb-1.jpg", width="70", alt="Sidebar Image").media-object
				.media-body
					a(href="portfolio-single.html")
						h5 ARTIST MARKETING
					p 22 FEB 2016
		li.media
			.media-left
				a(href="#!")
					img(src="assets/images/blog-thumb-2.jpg", width="70", alt="Sidebar Image").media-object
				.media-body
					a(href="portfolio-single.html")
						h5 BRAND NEW ALBUM
					p 15 FEB 2016
		li.media
			.media-left
				a(href="#!")
					img(src="assets/images/blog-thumb-3.jpg", width="70", alt="Sidebar Image").media-object
				.media-body
					a(href="portfolio-single.html")
						h5 MUSIC INDUSTRY
					p 08 FEB 2016
.widget
	h4 Tags
	ul.tags
		li 
			a(href="#!") Studio
		li 
			a(href="#!") Beatmaking
		li 
			a(href="#!") Genre
		li 
			a(href="#!") Website
		li 
			a(href="#!") WordPress
		li 
			a(href="#!") Music
		li 
			a(href="#!") Beats
		li 
			a(href="#!") Industry
		li 
			a(href="#!") Fly
		li 
			a(href="#!") #YUNG