.widget.recent-products
	h4 RECENT PRODUCTS
	ul
		li
			a(href="shop-single.html")
				img(src="assets/images/shop-sidebar-1.jpg", alt="Product image")
				h5 JUMPER
				p A knit jumper made of...
		li
			a(href="shop-single.html")
				img(src="assets/images/shop-sidebar-4.jpg", alt="Product image")
				h5 ORANGE SHOES
				p A modern style top...
		li
			a(href="shop-single.html")
				img(src="assets/images/shop-sidebar-3.jpg", alt="Product image")
				h5 NECK T-SHIRT
				p A great neck t-shirt...
		li
			a(href="shop-single.html")
				img(src="assets/images/shop-sidebar-2.jpg", alt="Product image")
				h5 COLORFUL SHIRT
				p Ac colorful shirt of...
.widget.shop-categories
	h4 CATEGORIES
	ul
		li MEN
			ul
				li
					a(href="shop-single.html") Tops
				li
					a(href="shop-single.html") Bottoms
				li
					a(href="shop-single.html") Shoes
				li
					a(href="shop-single.html") Bags
				li
					a(href="shop-single.html") Hats
		li WOMEN
			ul
				li
					a(href="shop-single.html") Tops
				li
					a(href="shop-single.html") Shoes
				li
					a(href="shop-single.html") Accessories
.widget.shop-filter
	h4 FILTER
	ul
		li
			a(href="shop-single.html") Blue
				small (3)
		li
			a(href="shop-single.html") Red
				small (32)
		li
			a(href="shop-single.html") Green
				small (13)
		li
			a(href="shop-single.html") Black
				small (98)
		li
			a(href="shop-single.html") Gold
				small (7)