audio.mejs-yung-single.album-single-widget(controls='')
	source(src='http://www.mp3mixtape.us/iframes/audio/Linkin-Park/Hybrid-Theory/Linkin-Park-Hybrid-Theory-FSMixSet.mp3', title='01 - Black Octopus Siren - FadedShadows Remix')