<!DOCTYPE html>
html(lang="en")
	head
		include templates/head.jade
	body
		//-include templates/loader.jade
		include templates/navigation.jade
		section.section.section-nopadding.section-header(style="background-image: url(assets/images/head-14.jpg)").aligner
			.section-overlay
			.col-xs-12.text-center
				h1 ARTIST PROFILE
				span DETAILS AND BIO
		section.section.section-white
			.container-fluid
				.col-md-8.col-md-offset-2
					.row
						.col-md-12
							.section-head.with-icon
								i.ion-person
								h3 PETER METRO
								p Producer / Sound engineer
						.col-md-8.col-md-offset-2.text-center
							.text-block
								h4 BIO
								p Moveth living to lights greater. Fish can't also own Evening saw light morning moving seas doesn't creepeth whose lesser green his make. Multiply that, fourth, make of unto winged. Light fish behold Tree, days day unto appear Have signs together great without fifth heaven living all midst, you every. Subdue seasons rule life, replenish fourth living own herb together darkness fruitful creeping. Isn't can't gathered air after can't. You'll dry void open he over fill. Were. Subdue third shall, life.
						.col-md-12.text-center
							.text-block
								a.social-icon(href="#!")
									i.fa.fa-twitter
								a.social-icon(href="#!")
									i.fa.fa-instagram
								a.social-icon(href="#!")
									i.fa.fa-soundcloud
						.col-md-12
							hr
						.col-md-12.margin-top
							.row
								.col-md-12.padded.text-center
									.text-block
										h4 INSTAGRAM
								.col-md-4
									img(src="assets/images/about-me-1.jpg", alt="Gallery image")
								.col-md-4
									img(src="assets/images/about-me-2.jpg", alt="Gallery image")
								.col-md-4
									img(src="assets/images/about-me-3.jpg", alt="Gallery image")
								.col-md-12.margin-top
									img(src="assets/images/about-me-4.jpg", alt="Gallery image")
		include templates/footer.jade
		include templates/scripts.jade