<!DOCTYPE html>
html(lang="en")
	head
		include templates/head.jade
	body
		//-include templates/loader.jade
		include templates/navigation.jade
		section.section.section-nopadding.section-header(style="background-image: url(assets/images/head-4.jpg)").aligner
			.section-overlay
			.col-xs-12.text-center
				h1 VIEWS
				span NEWS &AMP; THOUGHTS.	
		section.section.section-white
			.container-fluid
				.col-md-8.col-md-offset-2
					.row
						.col-md-12
							.row.section-head
								.col-md-6.text-left
										h3 BLOG
								.col-md-6.text-right
										p Our latest news &amp; thoughts.
						.col-md-12.margin-top-big
							.row
								.col-sm-6.col-md-6
									.blog-post
										a(href="blog-single.html")
											img(src="assets/images/blog-1.jpg", alt="Blog image")
										.blog-post-details
											a(href="blog-single.html")
												span 22 FEB 2016
												h4 Y.U.N.G TOUR
											p I moved upon herb moving over cattle beginning won't living together us rule. Make very i given living yielding all Fifth, form moving above is gathered also together sixth, saw can't you'll open don't night god called void i abundantly.
											a(href="blog-single.html").btn.btn-link READ MORE
								.col-sm-6.col-md-6.xs-screen-margin-top
									.blog-post
										a(href="blog-single.html")
											img(src="assets/images/blog-9.jpg", alt="Blog image")
										.blog-post-details
											a(href="blog-single.html")
												span 01 MAR 2016
												h4 WE MADE IT
											p I moved upon herb moving over cattle beginning won't living together us rule. Make very i given living yielding all Fifth, form moving above is gathered also together sixth, saw can't you'll open don't night god called void i abundantly.
											a(href="blog-single.html").btn.btn-link READ MORE
								.col-sm-6.col-md-6.margin-top
									.blog-post
										a(href="blog-single.html")
											img(src="assets/images/blog-8.jpg", alt="Blog image")
										.blog-post-details
											a(href="blog-single.html")
												span 28 FEB 2016
												h4 MUSIC INDUSTRY
											p I moved upon herb moving over cattle beginning won't living together us rule. Make very i given living yielding all Fifth, form moving above is gathered also together sixth, saw can't you'll open don't night god called void i abundantly.
											a(href="blog-single.html").btn.btn-link READ MORE
								.col-sm-6.col-md-6.margin-top
									.blog-post
										a(href="blog-single.html")
											img(src="assets/images/blog-7.jpg", alt="Blog image")
										.blog-post-details
											a(href="blog-single.html")
												span 18 FEB 2016
												h4 MUSIC IS MAGIC
											p I moved upon herb moving over cattle beginning won't living together us rule. Make very i given living yielding all Fifth, form moving above is gathered also together sixth, saw can't you'll open don't night god called void i abundantly.
											a(href="blog-single.html").btn.btn-link READ MORE
								.col-sm-6.col-md-6.margin-top
									.blog-post
										a(href="blog-single.html")
											img(src="assets/images/blog-6.jpg", alt="Blog image")
										.blog-post-details
											a(href="blog-single.html")
												span 14 FEB 2016
												h4 LOVE'S DAY TOUR
											p I moved upon herb moving over cattle beginning won't living together us rule. Make very i given living yielding all Fifth, form moving above is gathered also together sixth, saw can't you'll open don't night god called void i abundantly.
											a(href="blog-single.html").btn.btn-link READ MORE
								.col-sm-6.col-md-6.margin-top
									.blog-post
										a(href="blog-single.html")
											img(src="assets/images/blog-5.jpg", alt="Blog image")
										.blog-post-details
											a(href="blog-single.html")
												span 10 FEB 2016
												h4 BRAND NEW ALBUM
											p I moved upon herb moving over cattle beginning won't living together us rule. Make very i given living yielding all Fifth, form moving above is gathered also together sixth, saw can't you'll open don't night god called void i abundantly.
											a(href="blog-single.html").btn.btn-link READ MORE
								.col-sm-6.col-md-6.margin-top
									.blog-post
										a(href="blog-single.html")
											img(src="assets/images/blog-4.jpg", alt="Blog image")
										.blog-post-details
											a(href="blog-single.html")
												span 08 FEB 2016
												h4 ARTIST MARKETING PLAN
											p I moved upon herb moving over cattle beginning won't living together us rule. Make very i given living yielding all Fifth, form moving above is gathered also together sixth, saw can't you'll open don't night god called void i abundantly.
											a(href="blog-single.html").btn.btn-link READ MORE
								.col-sm-6.col-md-6.margin-top
									.blog-post
										a(href="blog-single.html")
											img(src="assets/images/blog-3.jpg", alt="Blog image")
										.blog-post-details
											a(href="blog-single.html")
												span 05 FEB 2016
												h4 MULTI-PLATINUM STUDIO
											p I moved upon herb moving over cattle beginning won't living together us rule. Make very i given living yielding all Fifth, form moving above is gathered also together sixth, saw can't you'll open don't night god called void i abundantly.
											a(href="blog-single.html").btn.btn-link READ MORE
								.col-sm-6.col-md-6.margin-top
									.blog-post
										a(href="blog-single.html")
											img(src="assets/images/blog-2.jpg", alt="Blog image")
										.blog-post-details
											a(href="blog-single.html")
												span 04 FEB 2016
												h4 HELLO WORLD
											p I moved upon herb moving over cattle beginning won't living together us rule. Make very i given living yielding all Fifth, form moving above is gathered also together sixth, saw can't you'll open don't night god called void i abundantly.
											a(href="blog-single.html").btn.btn-link READ MORE
		include templates/footer.jade
		include templates/scripts.jade
		include templates/script-slider.jade
		script(type="text/javascript", src="assets/js/revslider-extensions/revolution.extension.slideanims.min.js")
		script(type="text/javascript", src="assets/js/revslider-extensions/revolution.extension.layeranimation.min.js")
		script(type="text/javascript", src="assets/js/revslider-extensions/revolution.extension.navigation.min.js")