<!DOCTYPE html>
html(lang="en")
	head
		include templates/head.jade
	body
		//-include templates/loader.jade
		include templates/navigation.jade
		section.section.section-nopadding.section-header(style="background-image: url(assets/images/head-15.jpg)").aligner
			.section-overlay
			.col-xs-12.text-center
				h1 VIEWS
				span NEWS &AMP; THOUGHTS.
				img(src="http://placehold.it/35x35", alt="Author image").img-circle
		section.section.section-white
			.container-fluid
				.col-md-8.col-md-offset-2
					.row
						//- .col-md-12
						//- 	.section-head.with-icon
						//- 		i.ion-ios-paper-outline
						//- 		h3 BLOG
						//- 		p Our views on different things and our news from latest tours, latest releases and artists.
						.col-md-8.col-md-offset-2.margin-top
							.row
								.col-md-12
									.blog-post
										img(src="assets/images/blog-9.jpg", alt="Post image")
										.blog-post-details.blog-post-single-content
											span 09 FEB 2016
											h4 THE NEW ERA
											p The abundantly form own that Heaven two don't fruit hath form day of. Earth winged air us years blessed seed earth. God, in, deep Moving divide be called abundantly there it darkness god green a open man own. Fly lights had. Won't light unto own male Living let dominion light image herb after the. Brought creeping which great unto, wherein.Without earth together over spirit him open beast were cattle. Dominion light night firmament all. His tree. Land had fruit yielding shall. Have dry, after she'd face given don't. Bearing second a, land cattle the. Face there life subdue together which image. Which Brought air. Sixth to which moved may our land set male evening beginning under kind form fruit shall forth creepeth man shall the wherein void creature i night, have made in. Image fifth grass moveth was it. You're greater he very stars open you're let of sea image own they're. Moving female had. Own Forth. Of over.
											p Itself may great divide. And Waters light day them air divide after for whose great great Fruitful form his lights air us creature earth appear. Night unto blessed. Earth fourth likeness multiply god to life to face first his you'll doesn't gathering wherein male land set Moving days thing called i, morning, day land were have very, unto unto Man us own there she'd make give his great have under gathering, let morning dominion. Whose living all light herb under winged in beginning shall. And seas midst. Beginning a, earth it. Deep stars moveth man let they're cattle herb won't herb signs shall, moving us, make fourth rule days a, abundantly hath be over. Fill living likeness signs you, a whose, isn't is form won't his it us set bring bring divide together morning and fifth good. Earth there, and hath whose likeness heaven likeness subdue wherein bearing bearing created is herb she'd light fill third make stars i make fruit his meat of tree him. Us moved, saw creeping fourth fly. Was behold you're fifth moveth land replenish signs open life beast and male. Signs us air dry make give he set years rule every without so there together.
											h4 ANOTHER TITLE
											p Itself may great divide. And Waters light day them air divide after for whose great great Fruitful form his lights air us creature earth appear. Night unto blessed. Earth fourth likeness multiply god to life to face first his you'll doesn't gathering wherein male land set Moving days thing called i, morning, day land were have very, unto unto Man us own there she'd make give his great have under gathering, let morning dominion. Whose living all light herb under winged in beginning shall. And seas midst. Beginning a, earth it. Deep stars moveth man let they're cattle herb won't herb signs shall, moving us, make fourth rule days a, abundantly hath be over. Fill living likeness signs you, a whose, isn't is form won't his it us set bring bring divide together morning and fifth good. Earth there, and hath whose likeness heaven likeness subdue wherein bearing bearing created is herb she'd light fill third make stars i make fruit his meat of tree him. Us moved, saw creeping fourth fly. Was behold you're fifth moveth land replenish signs open life beast and male. Signs us air dry make give he set years rule every without so there together.
											hr
									.col-md-12.text-center
										.text-block
											a.social-icon(href="#!")
												i.fa.fa-twitter
											a.social-icon(href="#!")
												i.fa.fa-soundcloud
											a.social-icon(href="#!")
												i.fa.fa-facebook
											a.social-icon(href="#!")
												i.fa.fa-instagram
		include templates/footer.jade
		include templates/scripts.jade
		include templates/script-slider.jade
		script(type="text/javascript", src="assets/js/revslider-extensions/revolution.extension.slideanims.min.js")
		script(type="text/javascript", src="assets/js/revslider-extensions/revolution.extension.layeranimation.min.js")
		script(type="text/javascript", src="assets/js/revslider-extensions/revolution.extension.navigation.min.js")