<!DOCTYPE html>
html(lang="en")
	head
		include templates/head.jade
	body
		//-include templates/loader.jade
		include templates/navigation.jade
		section.section.section-nopadding.section-header(style="background-image: url(assets/images/head-4.jpg)").aligner
			.section-overlay
			.col-xs-12.text-center
				h1 VIEWS
				span NEWS &AMP; THOUGHTS.	
		section.section.section-white
			.container-fluid
				.col-md-8.col-md-offset-2
					.row
						.col-md-12
							.section-head.with-icon
								i.ion-ios-paper-outline
								h3 BLOG
								p Our views on different things and our news from latest tours, latest releases and artists.
						.col-md-8.col-md-offset-2.margin-top
							.row
								.col-md-12
									.blog-post
										a(href="blog-single.html")
											img(src="assets/images/blog-1.jpg", alt="Post image")
										.blog-post-details
											a(href="blog-single.html")
												span 15 FEB 2016
												h4 BRAND NEW RELEASES
											p The abundantly form own that Heaven two don't fruit hath form day of. Earth winged air us years blessed seed earth. God, in, deep Moving divide be called abundantly there it darkness god green a open man own. Fly lights had. Won't light unto own male Living let dominion light image herb after the. Brought creeping which great unto, wherein.
											a.btn.btn-link(href="blog-single.html") READ MORE
								.col-md-12.margin-top
									.blog-post
										a(href="blog-single.html")
											img(src="assets/images/blog-7.jpg", alt="Post image")
										.blog-post-details
											a(href="blog-single.html")
												span 11 FEB 2016
												h4 ARTIST MARKETING PLAN
											p The abundantly form own that Heaven two don't fruit hath form day of. Earth winged air us years blessed seed earth. God, in, deep Moving divide be called abundantly there it darkness god green a open man own. Fly lights had. Won't light unto own male Living let dominion light image herb after the. Brought creeping which great unto, wherein.
											a.btn.btn-link(href="blog-single.html") READ MORE
								.col-md-12.margin-top
									.blog-post
										a(href="blog-single.html")
											img(src="assets/images/blog-6.jpg", alt="Post image")
										.blog-post-details
											a(href="blog-single.html")
												span 09 FEB 2016
												h4 WE'VE GOT THE VIBES
											p The abundantly form own that Heaven two don't fruit hath form day of. Earth winged air us years blessed seed earth. God, in, deep Moving divide be called abundantly there it darkness god green a open man own. Fly lights had. Won't light unto own male Living let dominion light image herb after the. Brought creeping which great unto, wherein.
											a.btn.btn-link(href="blog-single.html") READ MORE
								.col-md-12.margin-top
									.blog-post
										a(href="blog-single.html")
											img(src="assets/images/blog-9.jpg", alt="Post image")
										.blog-post-details
											a(href="blog-single.html")
												span 07 FEB 2016
												h4 THE NEW ERA
											p The abundantly form own that Heaven two don't fruit hath form day of. Earth winged air us years blessed seed earth. God, in, deep Moving divide be called abundantly there it darkness god green a open man own. Fly lights had. Won't light unto own male Living let dominion light image herb after the. Brought creeping which great unto, wherein.
											a.btn.btn-link(href="blog-single.html") READ MORE
								.col-md-12.margin-top
									.blog-post
										a(href="blog-single.html")
											img(src="assets/images/blog-3.jpg", alt="Post image")
										.blog-post-details
											a(href="blog-single.html")
												span 04 FEB 2016
												h4 WE ARE HERE
											p The abundantly form own that Heaven two don't fruit hath form day of. Earth winged air us years blessed seed earth. God, in, deep Moving divide be called abundantly there it darkness god green a open man own. Fly lights had. Won't light unto own male Living let dominion light image herb after the. Brought creeping which great unto, wherein.
											a.btn.btn-link(href="blog-single.html") READ MORE
								.col-md-12.margin-top
									.blog-post
										a(href="blog-single.html")
											img(src="assets/images/blog-8.jpg", alt="Post image")
										.blog-post-details
											a(href="blog-single.html")
												span 01 FEB 2016
												h4 HELLO MUSIC WORLD
											p The abundantly form own that Heaven two don't fruit hath form day of. Earth winged air us years blessed seed earth. God, in, deep Moving divide be called abundantly there it darkness god green a open man own. Fly lights had. Won't light unto own male Living let dominion light image herb after the. Brought creeping which great unto, wherein.
											a.btn.btn-link(href="blog-single.html") READ MORE																						

		include templates/footer.jade
		include templates/scripts.jade
		include templates/script-slider.jade
		script(type="text/javascript", src="assets/js/revslider-extensions/revolution.extension.slideanims.min.js")
		script(type="text/javascript", src="assets/js/revslider-extensions/revolution.extension.layeranimation.min.js")
		script(type="text/javascript", src="assets/js/revslider-extensions/revolution.extension.navigation.min.js")