<!DOCTYPE html>
html(lang="en")
	head
		include templates/head.jade
	body
		//-include templates/loader.jade
		include templates/navigation.jade
		section.section.section-nopadding.section-header(style="background-image: url(assets/images/head-13.jpg)").aligner
			.section-overlay
			.col-xs-12.text-center
				h1 GALLERY
				span PRESENTED IN MASONRY
		section.section.section-white
			.container-fluid
				.col-md-6.col-md-offset-3
					.section-head.with-icon
						i.ion-ios-eye
						h3 PHOTOWALL
						p Our shots from our life.
				.col-md-8.col-md-offset-2
					.zoom-gallery.masonry-grid.row
						.col-md-4.masonry-grid-item.margin-top
							a(href="assets/images/gallery-masonry-1.jpg", data-source="assets/images/gallery-masonry-1.jpg",  title="Gallery Image")
								img(src="assets/images/gallery-masonry-1.jpg" alt="Gallery image")
								.item-overlay.text-center
									h2 CONCERT
									p Y.U.N.G ALBUM TOUR
						.col-md-4.masonry-grid-item.margin-top
							a(href="assets/images/gallery-masonry-2.jpg", data-source="assets/images/gallery-masonry-2.jpg",  title="Gallery Image")
								img(src="assets/images/gallery-masonry-2.jpg" alt="Gallery image")
								.item-overlay.text-center
									h2 CONCERT
									p Y.U.N.G ALBUM TOUR
						.col-md-4.masonry-grid-item.margin-top
							a(href="assets/images/gallery-masonry-3.jpg", data-source="assets/images/gallery-masonry-3.jpg",  title="Gallery Image")
								img(src="assets/images/gallery-masonry-3.jpg" alt="Gallery image")
								.item-overlay.text-center
									h2 CONCERT
									p Y.U.N.G ALBUM TOUR
						.col-md-4.masonry-grid-item.margin-top
							a(href="assets/images/gallery-masonry-8.jpg", data-source="assets/images/gallery-masonry-8.jpg",  title="Gallery Image")
								img(src="assets/images/gallery-masonry-8.jpg" alt="Gallery image")
								.item-overlay.text-center
									h2 CONCERT
									p Y.U.N.G ALBUM TOUR
						.col-md-4.masonry-grid-item.margin-top
							a(href="assets/images/gallery-masonry-4.jpg", data-source="assets/images/gallery-masonry-4.jpg",  title="Gallery Image")
								img(src="assets/images/gallery-masonry-4.jpg" alt="Gallery image")
								.item-overlay.text-center
									h2 CONCERT
									p Y.U.N.G ALBUM TOUR
						.col-md-4.masonry-grid-item.margin-top
							a(href="assets/images/gallery-masonry-6.jpg", data-source="assets/images/gallery-masonry-6.jpg",  title="Gallery Image")
								img(src="assets/images/gallery-masonry-6.jpg" alt="Gallery image")
								.item-overlay.text-center
									h2 CONCERT
									p Y.U.N.G ALBUM TOUR
						.col-md-4.masonry-grid-item.margin-top
							a(href="assets/images/gallery-masonry-5.jpg", data-source="assets/images/gallery-masonry-5.jpg",  title="Gallery Image")
								img(src="assets/images/gallery-masonry-5.jpg" alt="Gallery image")
								.item-overlay.text-center
									h2 CONCERT
									p Y.U.N.G ALBUM TOUR
						.col-md-4.masonry-grid-item.margin-top
							a(href="assets/images/gallery-masonry-9.jpg", data-source="assets/images/gallery-masonry-9.jpg",  title="Gallery Image")
								img(src="assets/images/gallery-masonry-9.jpg" alt="Gallery image")
								.item-overlay.text-center
									h2 CONCERT
									p Y.U.N.G ALBUM TOUR
						.col-md-4.masonry-grid-item.margin-top
							a(href="assets/images/gallery-masonry-10.jpg", data-source="assets/images/gallery-masonry-10.jpg",  title="Gallery Image")
								img(src="assets/images/gallery-masonry-10.jpg" alt="Gallery image")
								.item-overlay.text-center
									h2 CONCERT
									p Y.U.N.G ALBUM TOUR
						.col-md-4.masonry-grid-item.margin-top
							a(href="assets/images/gallery-masonry-7.jpg", data-source="assets/images/gallery-masonry-7.jpg",  title="Gallery Image")
								img(src="assets/images/gallery-masonry-7.jpg" alt="Gallery image")
								.item-overlay.text-center
									h2 CONCERT
									p Y.U.N.G ALBUM TOUR
		include templates/footer.jade
		include templates/scripts.jade