<!DOCTYPE html>
html(lang="en")
	head
		include templates/head.jade
	body
		//-include templates/loader.jade
		include templates/navigation.jade
		section.section.section-nopadding.section-header(style="background-image: url(assets/images/head-2.jpg)").aligner
			.section-overlay
			.col-xs-12.text-center
				h1 RADIO
				span LISTEN TO OUR 24/7 DAILY STATION
		section.section.section-white
			.container-fluid
				.col-md-6.col-md-offset-3
					.section-head.with-icon
						i.ion-ios-mic
						h3 LIVE PODCAST
				.col-md-8.col-md-offset-2.text-center
					.radio-wrap
						a(href="#!").radio-play-icon
							i.ion-ios-play
						.live-playing.text-block
							h4 NOW PLAYING:
							p SOMETHING ABOUT ME - JONES TREY
						.live-people
							.counter 5214
							| PEOPLE LISTENING
				.col-md-8.col-md-offset-2
					hr
				.col-md-8.col-md-offset-2.text-center
					.row
						.text-block.margin-top.margin-bottom
							h4 OLDER PODCASTS
						.col-md-4.margin-top
							a(href="radio-single.html")
								img(src="assets/images/radio-1.jpg", alt="Radio")
						.col-md-4.margin-top
							a(href="radio-single.html")
								img(src="assets/images/radio-2.jpg", alt="Radio")
						.col-md-4.margin-top
							a(href="radio-single.html")
								img(src="assets/images/radio-3.jpg", alt="Radio")
						.col-md-4.margin-top
							a(href="radio-single.html")
								img(src="assets/images/radio-4.jpg", alt="Radio")
						.col-md-4.margin-top
							a(href="radio-single.html")
								img(src="assets/images/radio-5.jpg", alt="Radio")
						.col-md-4.margin-top
							a(href="radio-single.html")
								img(src="assets/images/radio-6.jpg", alt="Radio")
		section.section.section-banner.section-nopadding
			.banner(style="background-image: url(assets/images/head-11.jpg)").background-image.aligner
				.section-overlay
				.col-md-6.col-md-offset-3.text-center
					div
						i.ion-star
						i.ion-star
						i.ion-star
						i.ion-star
						i.ion-star
					h2 CLAIM A SPOT
					p.lead Earth them he. Blessed together moveth him you're tree rule saw may you're let behold it of greater green she'd.er moveth him you're tree rule saw may you're let behold it of greater green she'd.
					a.margin-top.btn.btn-success(href="contact.html") CONTACT
		include templates/footer.jade
		include templates/scripts.jade