<!DOCTYPE html>
html(lang="en")
	head
		include templates/head.jade
	body
		//-include templates/loader.jade
		include templates/navigation.jade
		section.section.section-nopadding.section-header(style="background-image: url(assets/images/head-2.jpg)").aligner
			.section-overlay
			.col-xs-12.text-center
				h1 SERVICES
				span OUR SPECIALTIES &AMP; SKILLS
		section.section.section-white
			.container-fluid
				.col-md-6.col-md-offset-3
					.section-head.with-icon
						i.ion-ios-musical-notes
						h3 SPECIALTIES
						p Simply- what we can do for you.
				.col-md-8.col-md-offset-2
					.row
						.col-sm-6.col-xs-12.col-md-4
							.icon-block
								i.ion-ios-pulse
								h4 MIXING
								p Meat be female set called. Gathered. Years fruitful. Tree shall land rule stars is fourth she'd hath creepeth void That our let said. Doesn't green seas after creeping behold. Was so rule have.
						.col-sm-6.col-xs-12.col-md-4.small-screen-margin-top-big
							.icon-block
								i.ion-ios-color-wand-outline
								h4 MASTERING
								p Wherein greater. Darkness don't. Can't unto them thing. Winged divide you blessed from in it make so man place you're meat saw seed bring void fish which. Won't doesn't green living itself likeness is
						.col-sm-6.col-xs-12.col-md-4.small-screen-margin-top-big
							.icon-block
								i.ion-ios-mic-outline
								h4 RECORDING
								p Lesser fifth blessed good every man creepeth brought lights yielding a beast. Sea fruitful make. Fowl i day female signs heaven to. Set light whose over and. Morning make night i saw hath without us Forth land night also night i saw hath
						.col-sm-6.col-xs-12.col-md-4.margin-top-big
							.icon-block
								i.ion-ios-navigate-outline
								h4 TOUR
								p Have so sea night all deep abundantly thing rule winged thing land deep Signs. Fill grass upon, subdue man give subdue day don't morning beast face life fish divided fruit greater First and
						.col-sm-6.col-xs-12.col-md-4.margin-top-big
							.icon-block
								i.ion-ios-film
								h4 VIDEO
								p Shall brought over meat is give subdue fourth said Beast. Created. Them every you'll itself open let you'll. Had you'll thing beginning place void light the bearing light firmament thing called them fowl waters isn
						.col-sm-6.col-xs-12.col-md-4.margin-top-big
							.icon-block
								i.ion-ios-musical-notes
								h4 VOCALIST
								p Replenish winged signs. Lesser whales sea, moved grass sea. Him also. Be morning form called seed land there. Called the evening creepeth waters bring wherein beast lights. Under from light place their man you
						.col-sm-6.col-xs-12.col-md-4.margin-top-big
							.icon-block
								i.ion-ios-recording-outline
								h4 MUSIC PRODUCTION
								p Gathering god one isn't don't had all heaven under fly seasons fly face you're together for him man. Male. Great creature god let. Green for. She'd make to fill cattle of. Be let
						.col-sm-6.col-xs-12.col-md-4.margin-top-big
							.icon-block
								i.ion-ios-body
								h4 SOCIAL PROFILE
								p Meat be female set called. Gathered. Years fruitful. Tree shall land rule stars is fourth she'd hath creepeth void That our let said. Doesn't green seas after creeping behold. Was so rule have.
						.col-sm-6.col-xs-12.col-md-4.margin-top-big
							.icon-block
								i.ion-ios-people
								h4 CONSULTING
								p Meat be female set called. Gathered. Years fruitful. Tree shall land rule stars is fourth she'd hath creepeth void That our let said. Doesn't green seas after creeping behold. Was so rule have.
		section.section.section-banner.section-nopadding
			.banner(style="background-image: url(assets/images/head-8.jpg)").background-image.aligner
				.section-overlay
				.col-md-6.col-md-offset-3.text-center
					div
						i.ion-star
						i.ion-star
						i.ion-star
						i.ion-star
						i.ion-star
					h2 INTERNATIONAL TOUR
					p.lead We together moveth him you're tree rule saw may you're let behold it of greater green she'd.er moveth him you're tree rule saw may you're let behold it of greater green she'd.
					a.margin-top.btn.btn-success(href="tours.html") CONTACT
		include templates/footer.jade
		include templates/scripts.jade