<!DOCTYPE html>
html(lang="en")
	head
		include templates/head.jade
	body
		//-include templates/loader.jade
		include templates/navigation.jade
		section.section.section-nopadding.section-header(style="background-image: url(assets/images/head-4.jpg)").aligner
			.section-overlay
			.col-xs-12.text-center
				h1 MERCHANDISE
				span OUR LATEST APPAREL
		section.section.section-white
			.container-fluid
				.col-md-8.col-md-offset-2
					.row
						.col-md-12
							.row.section-head
								.col-md-6.text-left
										h3 MERCHANDISE
								.col-md-6.text-right
										p Shop our best products from your favorite artists.
						.col-md-8.margin-top-big
							.row
								.col-md-6
									.product
										a(href="shop-single.html")
											img(src="assets/images/product-1.jpg", alt="Product")
										.product-details.row
											.col-md-6.product-detail-title
												h4 
													a(href="shop-single.html") BLACK HAT
												span 
													a(href="shop-single.html") &euro; 89.99
											.col-md-6.text-right.product-detail-tools
												a(href="shop-single.html")
													i.ion-ios-heart
												a(href="shop-single.html")
													i.ion-ios-cart
								.col-md-6.small-screen-margin-top
									.product
										a(href="shop-single.html")
											img(src="assets/images/product-2.jpg", alt="Product")
										.product-details.row
											.col-md-6.product-detail-title
												h4 
													a(href="shop-single.html") YUNG TOP
												span 
													a(href="shop-single.html") &euro; 199.99
											.col-md-6.text-right.product-detail-tools
												a(href="shop-single.html")
													i.ion-ios-heart
												a(href="shop-single.html")
													i.ion-ios-cart
								.col-md-6.margin-top
									.product
										a(href="shop-single.html")
											img(src="assets/images/product-3.jpg", alt="Product")
										.product-details.row
											.col-md-6.product-detail-title
												h4 
													a(href="shop-single.html") SKINNY JEANS
												span 
													a(href="shop-single.html") &euro; 99.99
											.col-md-6.text-right.product-detail-tools
												a(href="shop-single.html")
													i.ion-ios-heart
												a(href="shop-single.html")
													i.ion-ios-cart
								.col-md-6.margin-top
									.product
										a(href="shop-single.html")
											img(src="assets/images/product-4.jpg", alt="Product")
										.product-details.row
											.col-md-6.product-detail-title
												h4 
													a(href="shop-single.html") BLACK CHAIN
												span 
													a(href="shop-single.html") &euro; 299.99
											.col-md-6.text-right.product-detail-tools
												a(href="shop-single.html")
													i.ion-ios-heart
												a(href="shop-single.html")
													i.ion-ios-cart
								.col-md-6.margin-top
									.product
										a(href="shop-single.html")
											img(src="assets/images/product-5.jpg", alt="Product")
										.product-details.row
											.col-md-6.product-detail-title
												h4 
													a(href="shop-single.html") PERFUME
												span 
													a(href="shop-single.html") &euro; 59.99
											.col-md-6.text-right.product-detail-tools
												a(href="shop-single.html")
													i.ion-ios-heart
												a(href="shop-single.html")
													i.ion-ios-cart
								.col-md-6.margin-top
									.product
										a(href="shop-single.html")
											img(src="assets/images/product-6.jpg", alt="Product")
										.product-details.row
											.col-md-6.product-detail-title
												h4 
													a(href="shop-single.html") SUN GLASSES
												span 
													a(href="shop-single.html") &euro; 89.99
											.col-md-6.text-right.product-detail-tools
												a(href="shop-single.html")
													i.ion-ios-heart
												a(href="shop-single.html")
													i.ion-ios-cart
						.col-md-4.margin-top-big
							include templates/sidebar-shop.jade
		include templates/footer.jade
		include templates/scripts.jade
		include templates/script-slider.jade
		script(type="text/javascript", src="assets/js/revslider-extensions/revolution.extension.slideanims.min.js")
		script(type="text/javascript", src="assets/js/revslider-extensions/revolution.extension.layeranimation.min.js")
		script(type="text/javascript", src="assets/js/revslider-extensions/revolution.extension.navigation.min.js")