<!DOCTYPE html>
html(lang="en")
	head
		include templates/head.jade
	body
		//-include templates/loader.jade
		include templates/navigation.jade
		section.section.section-nopadding.section-header(style="background-image: url(assets/images/head-5.jpg)").aligner
			.section-overlay
			.col-xs-12.text-center
				h1 MERCHANDISE
				span OUR LATEST APPAREL
		section.section.section-white
			.container-fluid
				.col-md-8.col-md-offset-2
					.row
						.col-md-12
							.row.section-head.with-icon
								i.ion-ios-cart
								h3 E-commerce
								p Shop our top-seller products and exclusive merchandise
				.col-md-12.margin-top-big.shop-minimal
					.row
						.col-md-4
							.product
								a(href="shop-single.html")
									img(src="assets/images/product-1.jpg", alt="Product")
								.product-details.row
									.col-md-12.product-detail-title
										h4 
											a(href="shop-single.html") RED HOODIE
										span 
											a(href="shop-single.html") &euro; 499.99
						.col-md-4.small-screen-margin-top
							.product
								a(href="shop-single.html")
									img(src="assets/images/product-2.jpg", alt="Product")
								.product-details.row
									.col-md-12.product-detail-title
										h4 
											a(href="shop-single.html") RED HOODIE
										span 
											a(href="shop-single.html") &euro; 499.99
						.col-md-4.small-screen-margin-top
							.product
								a(href="shop-single.html")
									img(src="assets/images/product-3.jpg", alt="Product")
								.product-details.row
									.col-md-12.product-detail-title
										h4 
											a(href="shop-single.html") RED HOODIE
										span 
											a(href="shop-single.html") &euro; 499.99
						.col-md-4.margin-top
							.product
								a(href="shop-single.html")
									img(src="assets/images/product-4.jpg", alt="Product")
								.product-details.row
									.col-md-12.product-detail-title
										h4 
											a(href="shop-single.html") RED HOODIE
										span 
											a(href="shop-single.html") &euro; 499.99
						.col-md-4.margin-top
							.product
								a(href="shop-single.html")
									img(src="assets/images/product-5.jpg", alt="Product")
								.product-details.row
									.col-md-12.product-detail-title
										h4 
											a(href="shop-single.html") RED HOODIE
										span 
											a(href="shop-single.html") &euro; 499.99
						.col-md-4.margin-top
							.product
								a(href="shop-single.html")
									img(src="assets/images/product-6.jpg", alt="Product")
								.product-details.row
									.col-md-12.product-detail-title
										h4 
											a(href="shop-single.html") RED HOODIE
										span 
											a(href="shop-single.html") &euro; 499.99
		include templates/footer.jade
		include templates/scripts.jade
		include templates/script-slider.jade
		script(type="text/javascript", src="assets/js/revslider-extensions/revolution.extension.slideanims.min.js")
		script(type="text/javascript", src="assets/js/revslider-extensions/revolution.extension.layeranimation.min.js")
		script(type="text/javascript", src="assets/js/revslider-extensions/revolution.extension.navigation.min.js")