<!DOCTYPE html>
html(lang="en")
	head
		include templates/head.jade
	body
		//-include templates/loader.jade
		include templates/navigation.jade
		section.section.section-nopadding.section-header(style="background-image: url(assets/images/head-13.jpg)").aligner
			.section-overlay
			.col-xs-12.text-center
				h1 TOURS
				span OUR TOUR AROUND THE WORLD.
		section.section.section-white
			.container-fluid
				.col-md-8.col-md-offset-2
					.row
						.col-md-12
							.row.section-head
								.col-md-6.text-left
										h3 Y.U.N.G TOUR
								.col-md-6.text-right
										p Get the latest info on the upcomign tour.
						.col-md-12.margin-top-big.padded-top
							.row
								.col-sm-6.col-md-4
									.tour-wrap
										img(src="assets/images/tour-5.jpg", alt="Tour location", width="60").img-circle
										h3 19
										h4 MARCH 2016
										hr
										p Santa Marina Hotel
										span TORONTO, CANADA
										a.btn.btn-success(href="#!") TICKETS
								.col-sm-6.col-md-4.xs-screen-margin-top
									.tour-wrap
										img(src="assets/images/tour-2.jpg", alt="Tour location", width="60").img-circle
										h3 22
										h4 MARCH 2016
										hr
										p Bay theater avenue
										span NEW YORK, USA
										a.btn.btn-success(href="#!") TICKETS
								.col-sm-6.col-md-4.small-screen-margin-top
									.tour-wrap
										img(src="assets/images/tour-4.jpg", alt="Tour location", width="60").img-circle
										h3 23
										h4 MARCH 2016
										hr
										p Musical Area
										span SYDNEY, AUSTRALIA
										a.btn.btn-success(href="#!") TICKETS
								.col-sm-6.col-md-4.margin-top
									.tour-wrap
										img(src="assets/images/tour-3.jpg", alt="Tour location", width="60").img-circle
										h3 27
										h4 APRIL 2016
										hr
										p Plaza Hotel
										span MADRID, SPAIN
										a.btn.btn-success(href="#!") TICKETS
								.col-sm-6.col-md-4.margin-top
									.tour-wrap
										img(src="assets/images/tour-5.jpg", alt="Tour location", width="60").img-circle
										h3 28
										h4 APRIL 2016
										hr
										p American Union
										span TORONTO, CANADA
										a.btn.btn-success(href="#!") TICKETS
								.col-sm-6.col-md-4.margin-top
									.tour-wrap
										img(src="assets/images/tour-1.jpg", alt="Tour location", width="60").img-circle
										h3 29
										h4 APRIL 2016
										hr
										p Terra Vibe Park
										span ROME, ITALY
										a.btn.btn-success(href="#!") TICKETS

		section.section.section-banner.section-nopadding
			.banner(style="background-image: url(assets/images/head-10.jpg)").background-image.aligner
				.section-overlay
				.col-md-6.col-md-offset-3.text-center
					div
						i.ion-star
						i.ion-star
						i.ion-star
						i.ion-star
						i.ion-star
					h2 PROFESSIONAL MIXING
					p.lead Earth them he. Blessed together moveth him you're tree rule saw may you're let behold it of greater green she'd.er moveth him you're tree rule saw may you're let behold it of greater green she'd.
					a.margin-top.btn.btn-success(href="contact.html") CONTACT
		include templates/footer.jade
		include templates/scripts.jade